<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 日志存放路径 -->
<!--    <springProperty scope="context" name="log.path" source="logging.file.path"/>-->
    <property name="log.path" value="e:/logs/" />
    <!-- 日志输出格式 -->
    <property name="log.pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - [%method,%line] - %msg%n" />
    <property name="log.charset" value="UTF-8"/>
    <!-- 控制台输出 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${log.pattern}</pattern>
            <charset>${log.charset}</charset>
        </encoder>
    </appender>

    <!-- 系统日志输出 -->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/robot-server.log</file>
        <!-- 循环政策：基于时间创建日志文件 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 日志文件名格式 -->
            <fileNamePattern>${log.path}/robot-server.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- 日志最大的历史 60天 -->
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${log.pattern}</pattern>
            <charset>${log.charset}</charset>
        </encoder>
    </appender>

    <!-- 系统模块日志级别控制  -->
    <logger name="com.fanyumeta" level="debug" />
    <!-- Spring日志级别控制  -->
    <logger name="org.springframework" level="info" />

    <logger name="io.netty.handler.logging" level="debug" />

    <!-- TRACE < DEBUG < INFO < WARN < ERROR -->
    <!--系统操作日志-->
    <root level="error">
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </root>
</configuration>

